/*Abaixo usamos um import para usar a fonte poppins do google fontes.*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

/*Abaixo resetamos todas as bordas, margins, padding e border box dos navegadores*/
*{
    border: 0;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box; /*aqui dizemos que o tamanho das box, serão as que nos colocarmos*/
    font-family: "Poppins", sans-serif; /*Aqui dizemos que nossa fonte é a Poppins que importamos, caso contrário, será a sans-serifa mesmo.*/
}
header{
    display: flex;
    flex-direction: row;
    background-color: #00000011;
    height: 7vw;
}
.content{
    display: flex;
}
.top-menu-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
a{
    margin: auto;
    text-align: center;
}
body{
    background-color: #1b2029; /*Aqui definimos nossa cor do background.*/
    color: white; /*Definimos nossa fonte como branca*/
    font-weight: 500; /*Definimos que nossa fonte é um pouco mais negrita. bold..*/
}
main{
    width: 100vw; /*deixamos nosso main com 50% da largura total da tela. (viewport)*/
    
    display: flex; /*dizemos que ele é um display flex, ou seja, vai ter as propriedades do display flex*/
   
    flex-direction: column;/*aqui dizemos que a direção é sentido uma coluna*/
    /*O flex-direction é uma propriedade do display flex*/

    align-items: center; /*Alinhamos os itens ao centro.*/
    /*O algign items é uma propriedade do display flex.*/

    justify-content: center; /*Alinha os itens ao centro do container.*/
}
main h1{
    /*aqui estilizamos o título do main*/
    color: #8880FE;

    font-size: 3rem; /*Assim, trazemos responsividade*/
    /*REM é medido de acordo com o tamanho do elemento raiz
    ou seja, a tag html.  */
    /*Aqui ele esta dizendo que quer o tamanho 3x maior
    que o elemento raiz.*/
    margin-top: 3rem; /*Aqui colocamos um espaço em cima*/
    margin-bottom: 3rem; /*Aqui colocamos uma margin em baixo (bottom)*/
    /*para dar um espaço entre o título e as imagens*/
}
.boxSort{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#161923;
    width: 30vw;
    height: 20vw;
    border: none; /*retiramos a borda dele*/
    border-radius: 32px; /*deixamos o botão mais arredondado*/
    font-size: 1.1rem; /*Aumentamos um pouco a letra*/
    color: white; /*Deixamos a palavra na cor branca.*/
}
span{

        font-size: 2rem; /* aumentamos 10% do tamanho da letra */
        margin-top: 2rem; /*Criamos uma margin top para aumentar o espaço entre os inputs*/
}
.random{
    margin-top: 5%;
}

main form input[type="submit"]{
    /*Explicando o comando acima*/
    /*Dentro do Main, na TAG form, pegue o INPUT que tiver o tipo SUBMIT*/
    padding: 0.5rem 1rem;

    cursor: pointer; /*Aqui quando a seta estiver em cima do botão submit, ela vira uma mãozinha*/
    /*Top né?! rs*/
    width: 100%; /*Aqui dizemos que a largura dele é de 50% do tamanho que ele estava originalmente.*/

    margin-top: 2rem; /*Aqui colocamos uma margin em cima dele (top) para dar um espaçamento*/

    border: none; /*retiramos a borda dele*/

    border-radius: 32px; /*deixamos o botão mais arredondado*/

    background-color: #6C63FF; /*Colocamos a cor de fundo dele com um roxo maix claro! Lindo!*/

    color: white; /*Deixamos a palavra na cor branca.*/

    font-size: 1.2rem; /*Aumentamos um pouco a letra*/

    transition: all .3s ease-in-out;/*Estudar mais este comando*/
    /*Mas ele faz com que fique mais suave a troca da cor quando passamos o mouse em cima dele*/

}
main form input[type="submit"]:hover{
    /*Aqui quer dizer que quando passar o mouse em cima, fique desta cor*/
    background-color: #5952D4;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
main form input[type="submit"]:active{
    /*Aqui quer dizer que quando passar o mouse em cima, fique desta cor*/
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
main form input{
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}
    @keyframes moveInBottom {
        0% {
            opacity: 0;
            transform: translateY(30px);
        }
    
        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }
